/* Main */

:root {
  --bg-color: #514949;
  --yellow: #ECBE1C;
  --grey: #C4C4C4;
}

body {
  font-family: 'Work Sans';
}

select {
  width: 100%;
}

h2 {
  font-size: 80px;
  font-weight: bold;
}

p {
  font-size: 24px;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}


/* Layout */
.container {
  padding-top: 16px;
  padding-bottom: 16px;
}

/* Common */

.dark-bg {
  background-color: var(--bg-color)
}

/* .section-header {
  padding: 0px 0;
} */

.section {
  padding: 64px 0;
}

.section-header {
  padding-bottom: 64px;

}

.section-header div {
  font-size: 60px;
  font-weight: bolder;
  text-align: center;
}

.underline {
  height: 7px;
  width: 170px;
  background-color: var(--yellow);
  border-radius: 4px;
  margin: 0 auto;
}

.btn-solid {
  background-color: var(--yellow);
  font-size: 20px;
  font-weight: 500;
  padding: 12px 16px;
}

.btn-outline {
  border-color: var(--yellow);
  font-size: 20px;
  font-weight: 500;
  padding: 12px 16px;
}
/* Navigation */

nav {
  background-color: var(--bg-color);
}

nav li {
  color: white;
  font-size: 18;
  font-weight: 500;
  padding: 0 10px 0 10px;
}

nav li:hover {
  color: var(--yellow);
}

nav .active {
  color: var(--yellow);
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav a:hover {
  text-decoration: none;
  color: inherit;
}

.navbar-brand {
  color: var(--yellow);
  font-weight: bolder;
}

.nav-underline {
  height: 3px;
  width: 50%;
  background-color: var(--yellow);
  visibility: hidden;
}

.active .nav-underline {
  visibility: visible;
}

/* Header */

.bg-image {
  position: absolute;
  width: 100%;
}

.header-text-1 {
  font-size:36px;
  font-weight: 500;
}

.header-text-2 {
  font-size: 80px;
  font-weight: 900;
  line-height: 80px;
  padding-bottom: 12px;
}

.header-text-3 {
  font-weight: lighter;
  max-width: 412px;
}

.profile_pic {
  width: 100%;
}

.banner {
  font-size: 24px;
  text-align: center;
  background-color: var(--yellow);
  padding: 8px;
}

@media only screen and (max-width: 768px) {
  .header-text-1 {
    font-size:25px;
  }

  .header-text-2 {
    font-size: 50px;
    font-weight: 900;
  }

  .header-text-3 {
    max-width: 100%;
  }
}


/* About Me */
/* #about-me-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

#about-me-section-header {
  font-size: 60px;
  font-weight: bolder;
} */

#about-me-dot-image {
  display: block;
}

/* #about-me-section p {
  font-weight: 100;
} */

@media only screen and (max-width: 768px) {
  #about-me-section {
    padding: 32px;
  }

  #about-me-dot-image {
    display: none;
  }
}

/* Blogs  */

.blogs {
  padding: 0 16px;
}

.blogs img {
  width: 360px;
  height: 360px;
}

.blog-text {
  padding: 16px 0 24px 0;
}

.blog-name {
  font-size: 24px;
  font-weight: bolder;
  color: white;
}

.blog-tags {
  font-size: 18px;
  font-weight: normal;
  color: var(--grey);
}

@media only screen and (max-width: 768px) {
  .blogs {
    text-align: center;
  }
}
