/* Main */

:root {
  --bg-color: #514949;
  --yellow: #ECBE1C;
  --grey: #C4C4C4;
}

body {
  font-family: 'Work Sans';
}

select {
  width: 100%;
}

h2 {
  font-size: 80px;
  font-weight: bold;
}

p {
  font-size: 24px;
}

a a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

/* Layout */

.container {
  padding: 16px;
}

.section {
  padding: 64px 0px;
}

.section-header {
  padding: 0 0 64px 0;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .row {
    margin: 0;
  }

  .container {
    padding: 16px 16px 32px 16px
  }

  .section {
    padding: 32px 0px;
  }

  .section-header {
    padding: 0 0 32px 0;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }
}

.dark-bg {
  background-color: var(--bg-color)
}


.underline {
  height: 7px;
  width: 170px;
  background-color: var(--yellow);
  border-radius: 4px;
  margin: 0 auto;
}

.btn-solid {
  background-color: var(--yellow);
  font-size: 20px;
  font-weight: 500;
  padding: 12px 16px;
}

.btn-outline {
  border-color: var(--yellow);
  font-size: 20px;
  font-weight: 500;
  padding: 12px 16px;
}

/* Navigation */

nav {
  background-color: var(--bg-color);
}

nav li {
  color: white;
  font-size: 18;
  font-weight: 500;
  padding: 0 10px 0 10px;
}

nav li:hover {
  color: var(--yellow);
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav a:hover {
  text-decoration: none;
  color: inherit;
}

.navbar-brand {
  color: var(--yellow);
  font-weight: bolder;
}

@media only screen and (max-width: 768px) {
  #navbarSupportedContent1 {
    position: absolute;
    top: 60px;
    z-index: 1000;
    background-color: var(--dark);
    width: 100px;
    right: 0px;
  }
}

/* Home */

.bg-image {
  position: absolute;
  width: 100%;
}

.header-text-1 {
  font-size:36px;
  font-weight: 500;
}

.header-text-2 {
  font-size: 80px;
  font-weight: 900;
  line-height: 80px;
  padding-bottom: 12px;
}

.header-text-3 {
  font-weight: lighter;
  max-width: 412px;
}

.profile_pic {
  width: 100%;
}

.banner {
  font-size: 24px;
  text-align: center;
  background-color: var(--yellow);
  padding: 8px;
}

@media only screen and (max-width: 768px) {
  .header-text-1 {
    font-size:25px;
  }

  .header-text-2 {
    font-size: 50px;
    font-weight: 900;
  }

  .header-text-3 {
    max-width: 100%;
  }
}


/* About Me */

#about-me-dot-image {
  display: block;
}

@media only screen and (max-width: 768px) {
  #about-me-dot-image {
    display: none;
  }
}

/* Blogs  */

.blogs img {
  height: 300px;
}

.blog-text {
  padding: 16px 0 24px 0;
}

.blog-name {
  font-size: 24px;
  font-weight: bolder;
  color: white;
}

.blog-tags {
  font-size: 18px;
  font-weight: normal;
  color: var(--grey);
}

#tags-section {
  font-size: 24px;
  text-align: center;
  padding: 0 0 64px 0;
}

#tags-section a {
  color: white;
}

#tags-section .active {
  color: var(--yellow);
}

.hidden-app {
  display: none;
}

@media only screen and (max-width: 768px) {
  .blogs {
    text-align: center;
  }
}

/* form */
@media only screen and (max-width: 768px) {
  .form-group .col-sm-4 {
    padding: 0;
  }
}

.form-group input {
  margin-bottom: 16px;
}

#footer-section {
  padding: 32px;
  text-align: right;
}

#contact-form {
  padding: 16px;
}
/* App Page */

.app-header {
  font-size: 60px;
  color: white;
  padding: 32px 0;
  font-weight: bold;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .app-header {
    font-size: 50px;
  }
}

.app-image {
  padding: 32px 0;
  font-size: 60px;
  width: 320px;
  font-weight: bold;
  text-align: center;
}

.app-image-background {
  width: 320px;
  position: absolute;
  z-index: 1;
}

#app-content-img {
  width: 100%;
}

#app-body-section {
  font-size: 24px;
  font-weight: lighter;
}

.app-details {
  font-size: 20px;
  margin: 40px 0 0 0;
}

.app-details th {
  font-weight: 900;
}

.app-details td {
  font-weight: lighter;
}

.app-content-image {
  width: 100%;
}

.image-container {
  position: relative;
  padding: 32px;
}

.image-container-main {
  position: relative;
  z-index: 2;
  width: 100%;
  top: 32px;
  left: 32px;
  border: 1px solid var(--yellow);
}

.image-container-placeholder {
  position: absolute;
  z-index: 1;
  width: 80%;
  height: 80%;
  background-color: var(--yellow);
}
